div#title {
    background-color: lightyellow;
    border-radius: 20px;
    width: 800px;
    border: solid red;
    padding: 10px 10px 30px 10px;
    margin: 10px;
}

h1 {
    text-align: center;
    color: orange;
}

img.ramen {
	float: left;
	width: 80px;
    height: 80px;
    margin: 10px;
}

img.yakiniku {
	float: right;
	width: 100px;
    height: 100px;
    margin: 10px 10px 0px 10px;
}

input#genre {
    background-color: lightblue;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: solid green;
}

button#sendRequest {
    background-color: lightblue;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: solid red;
    margin-left: 10px;
}

div#graph {
    float: right;
    background-color: lightyellow;
    border-radius: 20px;
    width: 300px;
    border: solid red;
    padding: 10px 10px 30px 10px;
    margin: 10px;
}

div#result {
    width: 900px;
    padding: 10px;
    margin: 10px;
}

div#result h2 {
    padding: 10px;
    border-bottom: 5px solid gray;
}

div#result li {
    list-style: none;
}